<!DOCTYPE html>
<html>
	<head>
		<title>Stream Video</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shorcut icon" type="image/icon" href="/img/favicon.png">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<%# <script src="http://rpi-chuna.strangled.net:3000/socket.io/socket.io.js"></script> %>
			<script src="http://172.16.199.170:3000/socket.io/socket.io.js"></script>
			<link rel="stylesheet" type="text/css" href="/stylesheets/smarthome.css">
		</head>
		<body>
			<div class="item">
				<span>
					video
				</span>
				<video id="video" width="320" height="240" autoplay="autoplay"></video>
			</div>
			<div class="item">
				<span>
					canvas
				</span>
				<canvas id="canvas" width="320" height="240"></canvas>
			</div>
			<input id="button" type="button" value="Жми!"/>
		</body>
		<script>
			var canvas = document.getElementById('canvas');
			var video = document.getElementById('video');
			var button = document.getElementById('button');
			var allow = document.getElementById('allow');
			var context = canvas.getContext('2d');
			var videoStreamUrl = false;
			var socket = io("http://172.16.199.170:3000");
			context.width = canvas.width;
			context.height = canvas.height;

			var captureMe = function() {
				if (!videoStreamUrl) 
					alert('error')
				context.translate(canvas.width, 0);
				context.scale(-1, 1);
				context.drawImage(video, 0, 0, video.width, video.height);
				context.setTransform(1, 0, 0, 1, 0, 0);
				var img = new Image();
				img.src = base64dataUrl;
				window
					.document
					.body
					.appendChild(img);
			}
			button.addEventListener('click', captureMe);

			function viewVideo(video, context) {
				// context.drawImage(video, 0, 0, context.width, context.height);
				socket.emit('stream', canvas.toDataURL('image/png'));
			}

			function loadCamera(stream) {
				video.src = window
					.URL
					.createObjectURL(stream);
				logger("Camera connected");
			}

			function loadFail() {
				logger("Camera not connected");
			}

			function viewVideo(video, context) {
				context.drawImage(video, 0, 0, context.width, context.height);
				socket.emit('stream', canvas.toDataURL('image/png'));
			}

			$(function() {
				navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msgGetUserMedia);

				if (navigator.getUserMedia) {
					navigator.getUserMedia({
						video: true,
						audio: true
					}, loadCamera, loadFail);
				}

				setInterval(function() {
					viewVideo(video, context);
				}, 50);
			});
		</script>
	</html>