<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n8plus.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smarthone_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smarthone_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Login.LoginActivity"/>
        <activity android:name=".View.HomePage.HomeActivity" />
        <activity android:name=".View.LoadDoor.DetectionDoor" />
        <activity android:name=".Activity.DetectionUnknow" />
        <activity android:name=".Activity.NotificationDetail" />
        <activity android:name=".View.ControlDoor.ControlMainDoor" />
        <activity android:name=".View.ControlCamera.ControlCamera" />
        <activity android:name=".View.ControlLight.ControlLightView" />
        <activity android:name=".View.ChangeInformation.ChangeInformation" />
        <activity android:name=".View.ChangePassword.ChangePassword" />
        <activity android:name=".View.DeviceConnectChange.ConnectChange" />
        <activity android:name=".View.Camera.SelectCamera" />
        <activity android:name=".Activity.Setting" />
        <activity android:name=".Activity.ActivityFAQ" />
        <activity android:name=".Activity.ActivityFeedback" />
        <activity android:name=".Activity.ActivityAbout" />
        <activity
            android:name=".View.ForgotPassword.ForgotPassword"
            android:parentActivityName=".View.Login.LoginActivity" />
        <activity
            android:name=".View.Register.Register"
            android:parentActivityName=".View.Login.LoginActivity" />

        <service
            android:name=".Service.EmitListenerService"
            android:exported="false" />

        <activity android:name=".View.DeviceConnectChange.ModuleDetail"></activity>
        <activity android:name=".View.LoadScreen.StartViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>