<div class="container-fluid" id="doors-control">
    <script>
        $("#doors-control").hide();

    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card p-2 mb-4">
                <h4 style="text-align: center; color:#365899 ">Doors Control</h4>
            </div>
        </div>
    </div>
    <div class="row" data-unit-group="switch-lights-in">
        <div id="doors-detail">

        </div>


    </div>
</div>
