<div class="container-fluid" id="lights-control">
    <script>
        $("#lights-control").hide();

    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card p-2 mb-4" style="margin:0 !important;">
                <h4 style="text-align: center; color:#365899 ">Lights Control</h4>
            </div>
        </div>
    </div>
    <div class="row" data-unit-group="switch-lights-in">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <!-- ON/OFF all interior lights  START -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">All Lights</h3>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="lights-control" data-controls="switch-lights-in">
                        <button data-action="all-on" type="button" class="btn btn-primary lights-control">All <strong>ON</strong></button>
                        <button data-action="all-off" type="button" class="btn btn-secondary lights-control">All <strong>OFF</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="lights-detail">


        </div>

    </div>

</div>
