<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!--<meta name="author" content="Jozef Dvorský - creatingo.com">-->
    <title>SMARTHOME-LOGIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/stylesheets/iot-theme-bundle.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Bootstrap bundle -->
    <script src="http://172.16.199.170:3000/socket.io/socket.io.js"></script>
    <!--    <script src="http://192.168.1.5:3000/socket.io/socket.io.js"></script>-->
    <script type="text/javascript" src="/javascripts/connect.js"></script>
    <script type="text/javascript" src="/javascripts/loadUser.js"></script>
    <script type="text/javascript" src="/javascripts/request-login.js"></script>






</head>

<body class="pt-0">
    <div id="login" class="d-flex align-items-center pb-4" method="post">
        <div class="row mx-auto" style="width:100%;max-width:24rem;">
            <div class="col-12 mb-2 text-center">
                <!--                <img src="assets/images/symbiot4.svg" width="140" height="20" alt="SYMBIOT 4" class="mx-auto">-->
            </div>
            <div class="col-12">
                <!-- Login form START -->
                <div class="card px-4 pt-2">
                    <form action="/authenticate" method="post" class="p-2">
                        <div class="form-group row">
                            <label for="user-name" class="col-12 col-form-label">Username</label>
                            <div class="col-12">
                                <input class="form-control custom-focus" type="text" placeholder="username@gmail.com" id="username" name="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user-password" class="col-12 col-form-label">Password</label>
                            <div class="col-12">
                                <input class="form-control custom-focus" type="password" placeholder="***********" id="password" name=password>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 mt-3 mb-2 text-center">
                                <button type="submit" id="btnLogin" class="btn btn-primary btn-block" id="log">Login</button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Login form END -->
            </div>
        </div>
    </div>

</body>

</html>
