<div class="content-body clearfix">
    <div class="col-md-12">
        <div>
            <div class="door-header col-md-12">
                <h4><img src="img\livingroom.png">Living room</h4>
            </div>
            <div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                            <img src="img\door.png">
                            <br>
                            <h5 class="col-md-12">Main Door</h5>
                            <span id="btn-child">Opened</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                            <img src="img\open_window.png">
                            <br>
                            <h5 class=" col-md-12"> Window 1</h5>
                            <span id="btn-child">Opened</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                            <img src="img\open_window.png">
                            <br>
                            <h5 class=" col-md-12"> Window 2</h5>
                            <span id="btn-child">Opened</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                            <img src="img\window.png">
                            <br>
                            <h5 class=" col-md-12"> Window 3</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Closed</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 20px;" class="door-header col-md-12">
                <h4><img src="img\bed.png">Bed room</h4>
            </div>
            <div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class=" col-md-12"> Main door</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Closed</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
                            <img src="img\open_window.png">
                            <br>
                            <h5 class=" col-md-12"> Window 1</h5>
                            <span id="btn-child">Opened</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
                            <img src="img\window.png">
                            <br>
                            <h5 class=" col-md-12">Window 2</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Closed</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 20px;" class="door-header col-md-12">
                <h4><img src="img\Dining.png">Dining room</h4>
            </div>
            <div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class=" col-md-12"> Main door</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Closed</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">
                            <img src="img\open_window.png">
                            <br>
                            <h5 class=" col-md-12">Window 1</h5>
                            <span id="btn-child">Opened</span>
                        </button>
                    </div>
                </div>
                <div class="khung col-md-3">
                    <div class="child-khung">
                        <button class="btn-child" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">
                            <img src="img\window.png">
                            <br>
                            <h5 class=" col-md-12">Window 2</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Closed</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  content-body -->
<hr>
<div id="control_door" class="content-body clearfix">
    <div class="col-md-12">
        <div class="door-header col-md-12">
            <h4><img src="img\door.png">Control Door</h4>
        </div>
        <div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\close_door.png">
                    <br>
                    <h5 class=" col-md-12"> Main door</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\window.png">
                    <br>
                    <h5 class=" col-md-12">Window 1</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\window.png">
                    <br>
                    <h5 class=" col-md-12"> Window 2</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\window.png">
                    <br>
                    <h5 class=" col-md-12">  Window 3</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Control camera-->
<div class="ctl-camera">
    <div id="control_camera" class="content-body clearfix">
        <div class="col-md-12">
            <div>
                <div class="door-header col-md-12">
                    <h4><img src="img\camera-test.png">Control Camera</h4>
                </div>
                <div class="camera">
                    <img src="img\mypage.jpg" width="100%" height="100%">
                </div>
                <div class="controll">
                    <div class=btn-controll>
                    </div>
                    <div class=btn-function>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="control_light" class="content-body clearfix">
    <div class="col-md-12">
        <div class="door-header col-md-12">
            <h4><img src="img\lamp.png">Control Light</h4>
        </div>
        <div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\light.png">
                    <br>
                    <h5 class=" col-md-12"> Living room light</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\light.png">
                    <br>
                    <h5 class=" col-md-12">  Bed room light</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\light.png">
                    <br>
                    <h5 class=" col-md-12">  Work light</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <img src="img\light.png">
                    <br>
                    <h5 class=" col-md-12">  Kitchen Light</h5>
                    <label class="switch">
                        <input type="checkbox">
                        <span style="float: left;" class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Control Light-->
<div id="door_devices" class="content-body clearfix">
    <div class="col-md-12">
        <div class="door-header col-md-12">
            <h4>Door Devices</h4>
        </div>
        <div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class="col-md-12">Main Door</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class=" col-md-12"> Window 1</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class=" col-md-12"> Window 2</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\close_door.png">
                            <br>
                            <h5 class=" col-md-12"> Window 3</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Connected</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="light_devices" class="content-body clearfix">
    <div class="col-md-12">
        <div class="door-header col-md-12">
            <h4>Light Devices</h4>
        </div>
        <div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\light.png">
                            <br>
                            <h5 class="col-md-12">Living room light</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Connected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\light.png">
                            <br>
                            <h5 class=" col-md-12"> Bed room light</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\light.png">
                            <br>
                            <h5 class=" col-md-12"> Dining room light</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\light.png">
                            <br>
                            <h5 class=" col-md-12"> Gateway light</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Connected</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="camera_devices" class="content-body clearfix">
    <div class="col-md-12">
        <div class="door-header col-md-12">
            <h4>Camera Devices</h4>
        </div>
        <div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\camera.png">
                            <br>
                            <h5 class="col-md-12">Camera 1</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Connected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\camera.png">
                            <br>
                            <h5 class=" col-md-12"> Camera 2</h5>
                            <span style="color: blue; text-align: center; font-weight: 600;">Connected</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="khung col-md-3">
                <div class="child-khung">
                    <a href="#" target="_blank">
                        <button class="btn-child">
                            <img src="img\camera.png">
                            <br>
                            <h5 class=" col-md-12">Camera 3</h5>
                            <span id="btn-child">Disconnected</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
