<div class="content-body clearfix">
	<div class="door-header">
		<h4>
			<!-- <img src="/img/door.png"> -->Control Door Living Room</h4>
	</div>
	<div class="door-container-bed"></div>
</div>
<div class="content-body clearfix">
	<div class="door-header">
		<h4>
			<!-- <img src="/img/door.png"> -->Control Door Living Room</h4>
	</div>
	<div class="door-container-living"></div>
</div>
<div class="content-body clearfix">
	<div class="door-header">
		<h4>
			<!-- <img src="/img/lamp.png"> -->Control Light</h4>
	</div>
	<div class="light-container"></div>
</div>