<head>
    <title>Smart Home</title>
    <link rel="shorcut icon" type="image/icon" href="img\favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://192.168.1.120:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/SmartHome.css">
    <script type="text/javascript" src="javascript/connect.js"></script>
</head>    
