<meta charset="UTF-8">
<title>Super Awesome</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://192.168.1.118:3000/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }

</style>
<!--<script src="/javascripts/control-light.js"></script>-->
