<head>
	<title>Smart Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shorcut icon" type="image/icon" href="/img/favicon.png">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="http://172.16.199.170:3000/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/javascripts/style-menu.js"></script>
	<script type="text/javascript" src="/javascripts/connect.js"></script>
	<!--<script type="text/javascript" src="/javascripts/load-cameras.js"></script>-->
	<script type="text/javascript" src="/javascripts/load-light.js"></script>
	<script type="text/javascript" src="/javascripts/load-door.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/smarthome.css">
</head>