<!DOCTYPE html>
<html>
	<% include head%>
		<body>
			<button class="float-button-menu">>></button>
			<div class="col-sm-4 col-md-3 col-lg-2" style="z-index:999; position:relative; height: 100vh">
				<% include sidebar%>
				</div>
				<div class="col-sm-8 col-md-9 col-lg-10">
					<div style="margin-bottom:30px">
						<% include header%>
							<% include content%>

							</div>
							<% include footer%>
							</div>
						</body>
						<% include modal%>
						</html>