<div id="id01" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div style="background-color: #337AB7; color: white" class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h2 style="background-color: #337AB7; color: white">Main Door Control</h2>
        <h3 style="text-align: center;">Living room</h3>
        <img src="img\close_door.png">
        <div class="container">
            <label for="uname">State: Closed</label>
        </div>
        <button type="input">OPEN NOW</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id01 -->
<div id="id02" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h2>Main Door Control</h2>
        <h3 style="text-align: center;">Bed room</h3>
        <img src="img\close_door.png">
        <div class="container">
            <label for="uname">State: Closed</label>
        </div>
        <button type="input">OPEN NOW</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id02 -->
<div id="id03" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h2>Main Door Control</h2>
        <h3 style="text-align: center;">Dining room</h3>
        <img src="img\close_door.png">
        <div class="container">
            <label for="uname">State: Closed</label>
        </div>
        <button type="input">OPEN NOW</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id03');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id03 -->
<div id="id04" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h2 style="color: white; background-color: #337AB7">SmartHome</h2>
        <h3 style="text-align: center; color: #337AB7">Notification</h3>
        <div class="container">
            <ul>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Cửa phòng khách đang mở</b>
                        <br> 17:03 - 08/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Cửa phòng bếp đang mở</b>
                        <br> 17:03 - 07/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Cửa phòng làm việc đang mở</b>
                        <br> 12:03 - 07/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Cửa phòng ngủ đang mở</b>
                        <br> 10:03 - 06/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Phát hiện người lạ ở trong phòng khách</b>
                        <br> 09:03 - 06/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="float: left;">
                        <img src="img\door.png">
                        <b>Phát hiện người lạ ở trong phòng ăn</b>
                        <br> 15:35 - 05/03/2018
                    </div>
                    <div class="dropdown">
                        <a><img src="img\more.png" style="float:right; text-align:center;"></a>
                        <div class="dropdown-content">
                            <a href="#">Marked as real</a>
                            <a href="#">Details</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id04');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id04 -->
<div id="id05" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div style="background-color: #337AB7; color: white" class="imgcontainer">
            <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h2 style="background-color: #337AB7; color: white">Information</h2>
        <div style="display:inline-block;">
            <label style="float: left;">Profile Picture</label>
            <img style="float: right; width: 50px; height: 50px" src="img\LOGIN.png">
        </div>
        <div style="display: inline-table;" class="id05container">
            <ul>
                <a href="#id05a" onclick="document.getElementById('id05a').style.display='block'" style="width:auto;">
                    <li>ID Name: WebApp <img src="img\forward-test.png" style="float:right; text-align:center;"></li>
                </a>
                <a href="#">
                    <li>Phone Number: 01234567890 <img src="img\forward-test.png" style="float:right; text-align:center;"></li>
                </a>
                <a href="#">
                    <li>Email: webapp@gmail.com <img src="img\forward-test.png" style="float:right; text-align:center;"></li>
                </a>
                <a href="#">
                    <li>Account Location: Viet nam <img src="img\forward-test.png" style="float:right; text-align:center;"></li>
                </a>
            </ul>
        </div>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id05');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id05 -->
<div id="id05a" class="modal ">
    <form class="modal-content  animate" action="/action_page.php">
        <div style="background-color: #337AB7; color: white" class="imgcontainer">
            <span onclick="document.getElementById('id05a').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h3 style="color: #337AB7">Change ID Name</h3>
        <br>
        <div class="col-md-12 id05a">
            <div class="col-md-3">
                <label style="color: #337AB7">ID Name</label>
            </div>
            <div class="col-md-9">
                <input type="text" name="idname">
            </div>
        </div>
        <br>
        <button type="submit">CANCEL</button>
        <button type="submit">CONFIRM</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id05a');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id05-a -->
<div id="id05b" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div style="background-color: #337AB7; color: white" class="imgcontainer">
            <span onclick="document.getElementById('id05b').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h3 style="color: #337AB7">Change Password</h3>
        <br>
        <div class="col-md-12 changepass">
            <div class="col-md-4">
                <label>Old Password:</label>
                <label>New Password:</label>
                <label>Confirm New Password:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="oldpassword">
                <input type="text" name="newpassword">
                <input type="text" name="confirmnewpassword">
            </div>
        </div>
        <br>
        <button type="submit">CANCEL</button>
        <button type="submit">CONFIRM</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id05b');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id05-b -->
<div id="id06" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div style="background-color: #337AB7; color: white" class="imgcontainer">
            <span onclick="document.getElementById('id06').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <h3 style="color: #337AB7">Change Password</h3>
        <br>
        <div class="col-md-12 changepass">
            <div class="col-md-4">
                <label>Old Password:</label>
                <label>New Password:</label>
                <label>Confirm New Password:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="oldpassword">
                <input type="text" name="newpassword">
                <input type="text" name="confirmnewpassword">
            </div>
        </div>
        <br>
        <button type="submit">CANCEL</button>
        <button type="submit">CONFIRM</button>
    </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id06');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- id05-b -->