<div class="menu">
	<a class="active" href="SmartHome.html"><img src="img\menu-home.png" style="padding-left: 15px;"></a>
	<form class="search">
		<input type="text" placeholder="   Search.." style="height:36px;" name="search">
	</form>
	<ul>
		<li>
			<h4>Profile</h4>
			<ul class="sub-menu">
				<a href="#id05" onclick="document.getElementById('id05').style.display='block'" style="width:auto;">
					<li><img src="img\userifo.png">
						Change Information
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#id05b" onclick="document.getElementById('id05b').style.display='block'" style="width:auto;">
					<li><img src="img\password.png">
						Change Password
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#id06" onclick="document.getElementById('id06').style.display='block'" style="width:auto;">
					<li><img src="img\settings.png">
						Setting
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#">
					<li><img src="img\faq.png">FAQ
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#">
					<li><img src="img\feedback.png">Feedback
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#">
					<li><img src="img\about.png">About
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#">
					<li><img src="img\logout.png">Logout
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
			</ul>
		</li>
		<li>
			<h4>Menu</h4>
		</li>
		<li>
			<ul class="sub-menu">
				<a href="#control_door">
					<li><img src="img\door.png">
						Control Door
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#control_camera">
					<li><img src="img\camera.png">
						Control Camera
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
				<a href="#control_light">
					<li><img src="img\light.png">
						Control Light
						<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
				</a>
			</ul>
		</li>
		<li>
		<li>
			<h4>Devices</h4>
		</li>
		<ul class="sub-menu">
			<a href="#door_devices">
				<li><img src="img\close_door.png">
					Door Devices
					<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
			</a>
			<a href="#light_devices">
				<li><img src="img\light.png">
					Light Devices
					<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
			</a>
			<a href="#camera_devices">
				<li><img src="img\camera.png">
					Camera Devices<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
			</a>
			<a href="#">
				<li class="scanimg"><img src="img\scan.png">
					Scan Devices
					<img src="img\forward-test.png" style="float:right; text-align:center;"></li>
			</a>
		</ul>
	</li>
	<li>
		<ul class="sub-menu">
			<a href="#id04" onclick="document.getElementById('id04').style.display='block'" style="width:auto;">
				<li>
					<h4>Notification</h4><img src="img\forward-test.png" style="margin-top: 10px; float:right; text-align:center;"></li>
			</a>
		</ul>
	</li>
</ul>
</div>