<footer>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sem neque. Integer ornare.</p>
	</div>
	<div class="footerlinks">
		<p>
			<a href="#" title="Link"><img src="img\phone.png">: 01234567890
			</a>
		</p>
		<p>
			<a href="#" title="Link"><img src="img\email.png">: webapp@gmail.com
			</a>
		</p>
		<p>
			<a href="#" title="Link"><img src="img\location.png">: Viet nam</a>
		</p>
	</div>
</footer>