<div class="hero-image">
	<img src="/img/smarthomesystem.png" height="400px">
	<div class="hero-text">
		<div>
			<h1>Smart Home System</h1>
			<h3>
				<i>Internet of things</i>
			</h3>
		</div>
	</div>
</div>