<!DOCTYPE html>
<html lang="en">
   <% include head%>
      <body>
         <video id="video"></video>
         <img id="play">
         <div id="logger"></div>
      </body>
      <script type="text/javascript">
         var socket = io("http://172.16.199.170:3000");
         socket.on('stream', function (image) {
            $('#play').attr('src', image);
         });
      </script>
   </html>